name: release pdf

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
    paths: ['docs/#{YOUR_RESUME}.md']

jobs:
  build:
    name: release pdf
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Enable Corepack
        run: corepack enable pnpm
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - run: pnpm install
      - name: Install Puppeteer Chrome
        run: npx puppeteer browsers install chrome
      - name: Build pdf
        run: pnpm build:pdf
      - name: Create a draft release
        uses: softprops/action-gh-release@v1
        with:
          body: ${{ github.event.pull_request.title }}
          draft: true
          fail_on_unmatched_files: true
          files: docs/README.pdf
          name: Release ${{ github.ref }}
